.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

.error {
    background-color: rgba(230, 0, 0, 0.4);
    text-align: center;
    padding: 2px;
}

.large-button {
    font-size: 18px;
}

.forgot-password-link {
    color: var(--secondary);
    cursor: pointer;
}