.enter-email-container {
    height: calc(100vh - 50px);
    background-color: var(--primary);
}

.reset-notice-title {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.reset-notice-subtitle {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.error {
    background-color: rgba(230, 0, 0, 0.4);
    text-align: center;
    padding: 2px;
}
