@import "../../assets/styles/colors.scss";

.landing-page-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
}

.landing-page-description {
    width: 70%;
    border-left: 5px solid var(--secondary);
    padding-left: 10px;
}

.horizontal-break {
    width: 80%;
    border: 1px solid lightgray;
}